<!doctype html>
<head>
    <title>PolyBlue</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:700' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>

<body>
<div id="content">
    <div id="output">
	PolyBlue Web Console<br />
	Version 1.0>><br />
    </div>
    <input type="textbox" id="input" value="Enter Your Input Here" />
</div>
<script>
$(document).ready(function() {
	$("#input").click(function (){
		$("#input").val('');
	});
	$("#input").blur(function (){
		$("#input").val('>>');
	});

	var ws = new WebSocket("ws://" + window.location.hostname + ":{{ app_port }}/socket");
	ws.onopen = function(){
		ws.send("Message to send");
	}
	ws.onmessage = function (evt) {
		var received_msg = evt.data;
	}
	ws.onclose = function() {

	}
});
</script>
</body>
